# SPDX-FileCopyrightText: Copyright 2022-2024 EDF (Électricité de France S.A.)
# SPDX-License-Identifier: BSD-3-Clause
# See README for all details on copyright, authorship and license.

/target
/public/coap-ace-poc-webapp*
/public/service_worker.js
