html { font-family: sans-serif; }
h1 { color: navy; }
h2 { color: navy; }
#crashreport { border: medium solid red; padding: 0.5em; }
footer { padding-top: 1em; margin-top: 1em; border-top: solid thin silver; font-size: smaller; }
